<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>클라이언트</h1>
        <ul></ul>
        <form id="chat">
            <input type="text" id="user" placeholder="사용자명" />
            <input type="text" id="message" placeholder="채팅내용" />
            <button>채팅</button>
        </form>
        <script>
                  const socket = new WebSocket('ws://localhost:8000');
                  // form 가져오기
                  const charform = document.querySelector('#chat');
                  const ul = document.querySelector('ul');
                  //서버 연결
                  socket.addEventListener('open', (event) => {
                      //send(): 백엔드로 메세지 전송
                      socket.send(JSON.stringify({ user: 'client', message: 'hellow server' }));
                      console.log('서버에 연결되었습니다.');
                  });

                  // 메세지 주고받음
                  socket.addEventListener('message', (event) => {
                      console.log(event);
                      const li = document.createElement('li');
                      li.textContent = event.data;
                      ul.appendChild(li);
                  });
                  // 종료
                  socket.addEventListener('close', (event)=>{
                    console.log('서버와 연결 종료')
                  })

                       // 폼이벤트
            chatform.addEventListener('submit',(event)=>{
              const user = document.querySelector('#user');
              const msg = chatform.querySelector('#message');
              socket.send(JSON.stringify({user: user.value,message:msg.value}));
              msg.value=' ';})
        </script>
    </body>
</html>
